-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: medisynex
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tenant`
--

DROP TABLE IF EXISTS `tenant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenant` (
  `id` varchar(191) NOT NULL,
  `businessName` varchar(191) NOT NULL,
  `businessType` enum('PHARMACY','HOSPITAL','WHOLESALER','RETAILER','DISTRIBUTOR','MEDICAL_STORE') DEFAULT NULL,
  `isSetupCompleted` tinyint(1) NOT NULL DEFAULT 0,
  `currentPlan` enum('FREE','PRO','ENTERPRISE') NOT NULL DEFAULT 'FREE',
  `planExpiry` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant`
--

LOCK TABLES `tenant` WRITE;
/*!40000 ALTER TABLE `tenant` DISABLE KEYS */;
INSERT INTO `tenant` VALUES ('1ebba26e-f4b6-4191-89bc-5379409909d2','Te',NULL,0,'FREE',NULL,'2026-04-19 18:24:49.362','2026-04-19 18:24:49.362'),('639f9ed9-40fb-4d82-ac48-bf7a89affa69','Medisynex Pharmacy','PHARMACY',1,'FREE',NULL,'2026-04-18 14:03:23.340','2026-04-18 14:03:23.340'),('cd9393bf-92cc-487c-accf-7c43be26b9d1','Medisynex Medicine Hub','WHOLESALER',1,'FREE',NULL,'2026-04-18 14:44:48.410','2026-04-18 14:46:36.601');
/*!40000 ALTER TABLE `tenant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `mobile` varchar(191) NOT NULL,
  `password` varchar(191) DEFAULT NULL,
  `role` enum('SUPER_ADMIN','BUSINESS_ADMIN','MANAGER','CASHIER','PHARMACIST') NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `avatarKey` varchar(191) DEFAULT NULL,
  `createdById` varchar(191) DEFAULT NULL,
  `department` varchar(191) DEFAULT NULL,
  `designation` varchar(191) DEFAULT NULL,
  `employeeId` varchar(191) DEFAULT NULL,
  `employmentType` enum('FULL_TIME','PART_TIME','CONTRACT') NOT NULL DEFAULT 'FULL_TIME',
  `inviteToken` varchar(191) DEFAULT NULL,
  `inviteTokenExpires` datetime(3) DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `isDeleted` tinyint(1) NOT NULL DEFAULT 0,
  `isInvited` tinyint(1) NOT NULL DEFAULT 0,
  `joinDate` datetime(3) DEFAULT NULL,
  `reportingManagerId` varchar(191) DEFAULT NULL,
  `salary` double DEFAULT NULL,
  `status` enum('PENDING','ACTIVE','DISABLED') NOT NULL DEFAULT 'PENDING',
  `tenantId` varchar(191) DEFAULT NULL,
  `workShift` varchar(191) DEFAULT NULL,
  `lastGeoLat` double DEFAULT NULL,
  `lastGeoLon` double DEFAULT NULL,
  `lastGeoTimestamp` datetime(3) DEFAULT NULL,
  `lastKnownIp` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`),
  UNIQUE KEY `User_mobile_key` (`mobile`),
  UNIQUE KEY `User_inviteToken_key` (`inviteToken`),
  UNIQUE KEY `User_employeeId_key` (`employeeId`),
  KEY `User_tenantId_fkey` (`tenantId`),
  KEY `User_createdById_fkey` (`createdById`),
  KEY `User_reportingManagerId_fkey` (`reportingManagerId`),
  CONSTRAINT `User_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `User_reportingManagerId_fkey` FOREIGN KEY (`reportingManagerId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `User_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenant` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription`
--

DROP TABLE IF EXISTS `subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscription` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `planName` enum('FREE','PRO','ENTERPRISE') NOT NULL,
  `status` enum('TRIALING','ACTIVE','PAST_DUE','RESTRICTED','SUSPENDED','ARCHIVED') NOT NULL DEFAULT 'ACTIVE',
  `startDate` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `endDate` datetime(3) DEFAULT NULL,
  `billingCycle` varchar(191) NOT NULL DEFAULT 'MONTHLY',
  `amount` double NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Subscription_tenantId_fkey` (`tenantId`),
  CONSTRAINT `Subscription_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenant` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription`
--

LOCK TABLES `subscription` WRITE;
/*!40000 ALTER TABLE `subscription` DISABLE KEYS */;
INSERT INTO `subscription` VALUES ('bd4ff523-91c9-42e5-acc7-e4a9d85af42e','1ebba26e-f4b6-4191-89bc-5379409909d2','FREE','SUSPENDED','2026-04-20 15:41:13.811',NULL,'MONTHLY',0,'2026-04-20 15:41:13.818'),('d6286339-e420-4db0-971d-10b3530dfccc','cd9393bf-92cc-487c-accf-7c43be26b9d1','FREE','SUSPENDED','2026-04-20 15:40:28.146',NULL,'MONTHLY',0,'2026-04-20 15:40:28.171');
/*!40000 ALTER TABLE `subscription` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-20 22:45:52
